* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#logo {
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-weight: 800;
    background-color: rgb(241, 152, 97);
}
body {
    background-color: rgb(241, 152, 97);
}
footer {
    text-align: center;
    margin-top: 10px;
    font-size: small;
    font-weight: 85;
    position: fixed;
    bottom: 0;
    left: 45%;
}

#bhead {
    text-align: center;
}
h3 {
    text-align: center;
}
#bio-choice {
    display: flex;
}
#typeform {
    border: 5px;
    border-color: black;
}

#bio {
    background-color: rgb(44, 44, 44);
    max-width: 55%;
    padding: 15px;
    color: white;
    text-align: center;
    word-spacing: 115%;
    
}

#headshot {
    max-width: 19%;
    height: auto;
}

#headshot:hover {
    transform: scaleX(-1);
}
#bhead {
    float: left;
}
#bwel {
    align-items: center;
}
#submit, #f1-btn {
    background-color: rgb(42, 41, 41);
    color:rgb(241, 217, 189);
    border-radius: 8px;
    align-items: center;
}
#submit, #f1-btn:hover {
    background-color: black;
    color: white;
}
#type_choice {
    list-style-type: none;
}
#l_choice {
    list-style-type: none;
}