* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h1 {
    text-align: center;
    font-weight: 800;
    background-color: rgb(241, 217, 189);
}
body {
    background-color: rgb(241, 217, 189);
}
footer {
    text-align: center;
    margin-top: 10px;
    font-size: small;
    font-weight: 85;
    position: fixed;
    bottom: 0;
    left: 45%;
}

#bhead {
    text-align: center;
}
h3 {
    text-align: center;
}
#bio-choice {
    display: flex;
}
#typeform {
    border: 5px;
    border-color: black;
}

#bio {
    background-color: rgb(44, 44, 44);
    max-width: 55%;
    padding: 15px;
    color: white;
    text-align: center;
    word-spacing: 115%;
    
}

